version: "3.9"

services:
  db:
    image: mariadb:10.4
    container_name: villa_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: wppassword
    volumes:
      - ./mysql/data:/var/lib/mysql
    ports:
      - "3306:3306"

  wordpress:
    image: wordpress:php8.2-apache
    container_name: villa_wp
    restart: always
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wppassword
    volumes:
      - ./wordpress/wp-content:/var/www/html/wp-content
      
    depends_on:
      - db
